<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Aplicação de regras não hipotéticas </h6>
            </div>
            <div class="card-body">
                <p>
                    A seleção dos elementos para a derivação é realizada através do click na área de apresentação representada no exemplo pela área <b>A</b>. As seleções possuem um limite de até 3 seleções de linhas conforme a quantidade máxima utilizada por regras proposicionais. Ao selecionar, a linha desejada é marcada com a  cor azul, para cancelar a seleção basta clicar novamente na linha selecionada.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/aplicacao-regra.png" alt="modus ponens">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 text-center">
                        <table class="table-regras"  cellpadding="5" >
                            <tr>
                                <td><div class="regra-modusponens shadow-sm"><p>Após selecionar as linhas desejadas, para realizar uma derivação basta marcar a regra correspondente na área (Figura - B) que instancie as linhas selecionadas, conforme mostra a representação da regra de “Modus Ponens". Em seguida, é necessário clicar em “aplicar” para realizar a derivação. O resultado da instanciação gerada pela regra é apresentada na área de apresentação (Figura - A), podendo ser utilizada ao longo do processo de derivação.</p></div></td>
                            </tr>
                        </table>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Modus Ponens (MP) </h6>
            </div>
            <div class="card-body">
                <p>
                    Permite a eliminação de um condicional. Ao obter um elemento igual ao antecedente de um condicional, é possível inferir seu consequente. Conforme apresenta na Figura do exemplo, a partir do condicional (P → Q), é utilizado seu antecedente ( P ) para inferir seu consequente ( Q ), através da premissa ( P ).
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/modusponens.png" alt="modus ponens">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Eliminação de Negação (~E) </h6>
            </div>
            <div class="card-body">
                <p>
                    É aplicada a um predicativo que possui duas ou mais negações, conforme o exemplo. A devida regra objetiva anular dupla negação
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-negacao.png" alt="eliminacao negacao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Introdução de Conjunção (∧I) </h6>
            </div>
            <div class="card-body">
                <p>
                    Pode-se inferir conjunção de duas fórmulas válidas. Seja P e Q, é possível inferir a conjunção P ∧ Q, conforme apresenta o exemplo.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/introducao-da-conjuncao.png" alt="introducao da conjuncao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Eliminação de Conjunção (∧E) </h6>
            </div>
            <div class="card-body">
                <p>
                    Pode-se inferir um dos elementos da conjunção. Ou seja, de uma conjunção P^Q, pode-se inferir um dos seus conjuntos P, Q, conforme apresenta o exemplo.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-da-conjuncao.png" alt="introducao da conjuncao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Introdução da Disjunção (vI) </h6>
            </div>
            <div class="card-body">
                <p>
                    Pode-se inferir a disjunção de uma fórmula válida com qualquer outra fórmula. Conforme apresenta o exemplo 1, dada a fórmula P, pode-se inferir a disjunção de P com outro elemento não pertencente às etapas de dedução.
                </p>
                <p class="mt-3">Exemplo 1:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/introducao-da-disjuncao.png" alt="introducao da conjuncao">
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <table class="table-regras"  cellpadding="5" >
                        <tr>
                            <td><div class="regra-disjuncao shadow-sm"><p>Para utilizar a regra, o usuário deve selecionar a linha que deseja derivar (fórmula válida) e em seguida selecionar a regra de “introdução da disjunção”. Com isso, é liberado um campo de texto para inserir qualquer fórmula para realizar a inserção conforme apresenta o exemplo 2.</p></div></td>
                        </tr>
                    </table>
                </div>
            </div>  
            <div class="card-body">
                <p class="mt-3">Exemplo 2:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/aplicacao-introducao-da-disjuncao.png" alt="introducao da disjuncao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Eliminação da Disjunção (vE) </h6>
            </div>
            <div class="card-body">
                <p>
                    A partir de dois condicionais com consequentes iguais, pode-se inferir o consequente, se os antecedentes dos condicionais forem iguais aos elementos de uma disjunção. Conforme o exemplo, dado a disjunção (P v Q) e os condicionais (P→S) e (Q→S), pode-se inferir S utilizando os elementos da disjunção.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-da-disjuncao.png" alt="eliminacao da disjuncao">
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <table class="table-regras"  cellpadding="5" >
                        <tr>
                            <td>
                                <div class="regra-disjuncao shadow-sm">
                                    <p>
                                        <span style="color: red;">Atenção: </span> Para aplicação da regra "Eliminação da Disjunção" deve-se
                                        selecionar os elementos para derivação seguindo o critério de seleção de uma das ordens abaixo: 
                                    </p>
                                    <p>
                                        1 - Selecionar disjunção e em seguida os
                                        condicionais.<br>2 - Selecionar os condicionais e em seguida a disjunção.
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>  
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Introdução do Bicondicional (↔I) </h6>
            </div>
            <div class="card-body">
                <p>
                    A regra Introdução do Bicondicional consiste na junção de dois condicionais. Para isso, deve-se respeitar a seguinte regra. A partir de dois condicionais A = P→Q e B= Q→P, pode-se inferir o bicondicional se o antecedente do condicional A for igual ao consequente do condicional B e o antecedente do condicional B for igual ao consequente do condicional A.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/introducao-bicondicional.png" alt="introducao do bicondicional">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Eliminação do Bicondicional (↔E) </h6>
            </div>
            <div class="card-body">
                <p>
                    A partir de um Bicondicional P↔Q, é possível inferir P→Q ou Q→P.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-bicondicional.png" alt="eliminacao do bicondicional">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Aplicação de regras hipotéticas </h6>
            </div>
            <div class="card-body">
                <p>
                   As regras hipotéticas necessitam a introdução de uma formula proposicional, para introdução de uma formula deve selecionar uma regra hipotética e logo após a seleção, é disponibilizado um campo de texto para introduzir a fórmula a ser provada, conforme representado no exemplo 1.
                </p>
                <p class="mt-3">Exemplo 1:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/insercao-hipotese.png" alt="insercao hipotese">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 text-center">
                        <table class="table-regras"  cellpadding="5" >
                            <tr>
                                <td><div class="regra-modusponens shadow-sm"><p> Para representar as áreas hipotéticas dentro da etapa de derivação, utiliza-se uma linha na horizontal identificando o início na inserção e decorre até a finalização da hipótese. Para finalizar a hipótese o usuário deve selecionar o início da hipótese (Figura A) e o final (Figura B), em seguida deverá marcar a opção de finalização da hipótese conforme representa o exemplo 2.</p></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p class="mt-3">Exemplo 2:</p>
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="assets/image/finalizacao-hipotese.png" alt="finalizacao hipotese">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Prova do Condicional (PC) </h6>
            </div>
            <div class="card-body">
                <p>
                    É criado uma hipótese com o antecedente do condicional desejado e busca alcançar seu consequente.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/hipotese-pc.png" alt="hipotese pc">
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Redução ao Absurdo (RAA) </h6>
            </div>
            <div class="card-body">
                <p>
                    Tenta provar que uma dada fórmula é válida (por exemplo, P), quando o contrário desta fórmula (~P), por meio de uma hipótese, gera uma contradição, sendo assim refutada, e provando que a fórmula P é verdadeira, conforme o exemplo a seguir.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/hipotese-raa.png" alt="hipotese raa">
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <table class="table-regras"  cellpadding="5" >
                        <tr>
                            <td><div class="regra-negacao shadow-sm"><p>O processo de prova da hipótese RAA inicia-se com a contradição da conclusão da formula proposicional.</p></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- 

    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras da Árvores de Refutação : Argumentos não negados</h6>
            </div>
            <div class="card-body">
                <p>
                    <span class="font-weight-bold">Conjunção:</span> será representada pelo caractere (∧). Desse modo se um ramo aberto 
                    contém a sentença <code>P∧Q</code>, gera dois nós sequenciais <code>P</code> e <code>Q</code> em cada ramo 
                    aberto que contém a sentença <code>P∧Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/conjuncao.png" alt="conjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Disjunção:</span> será representada pelo caractere (∨). Desse modo, se um ramo aberto contém a sentença 
                    <code>P∨Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P∨Q</code>, na qual no final do primeiro ramo 
                    escreve-se o <code>P</code> e no final do segundo ramo escreve-se <code>Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/disjuncao.png" alt="disjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Condicional:</span> será representada pelo caractere (→). Desse modo, se um ramo aberto contém a sentença 
                    <code>P→Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P→Q</code>, na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e no final do segundo ramo escreve-se <code>Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/condicional.png" alt="disjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Bicondicional:</span> será representada pelo caractere (↔). Desse modo, se um ramo aberto contém a 
                    sentença <code>P↔Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P↔Q</code>, na qual no final do 
                    primeiro ramo escreve-se o <code>P</code> e <code>Q</code> e no final do segundo ramo escreve-se <code>¬P</code> e <code>¬Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/bicondicional.png" alt="disjuncao"></div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras da Árvores de Refutação : Argumentos negados</h6>
            </div>
            <div class="card-body">
                <p class="mt-5">
                    <span class="font-weight-bold">Negação Negada:</span> será representada pelo caractere (¬). Um ramo aberto só pode ser fechado quando 
                    conter uma sentença e sua negação, ou seja, se a contradição da sentença de um nó folha for encontrada 
                    em seus nós ascendentes, diz-se que a refutação pode ser realizada e esse ramo é fechado, não podendo 
                    mais ser desmembrado
                </p>
                <div class="text-center my-3"><img src="assets/img/negacao-neg.png" alt="negacao-negada"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Conjunção Negada:</span> será  representada na forma “¬ ( &alpha; ∧ &beta; )”. Desse modo, se um ramo aberto contém a sentença <code>¬(P ∧ Q)</code>, 
                    bifurca-se cada ramo aberto que contém a sentença <code>¬(P ∧ Q)</code>, na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e no final do segundo ramo escreve-se <code>¬Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/conjuncao-neg.png" alt="conjuncao-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Disjunção Negada:</span> será  representada na forma “¬ ( &alpha; ∨ &beta; )”. Desse modo, se um ramo aberto contém a sentença <code>¬ (P ∨ Q)</code>, 
                    gera dois nós sequenciais <code>¬P</code> e <code>¬Q</code> em cada ramo aberto que contém a sentença
                        <code>¬ (P ∨ Q)</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/disjuncao-neg.png" alt="disjuncao-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Condicional Negado:</span> será  representada na forma “¬ ( &alpha; →  &beta; )”. Desse modo, se um ramo aberto contém a sentença 
                    <code>¬ (P → Q)</code>, gera dois nós sequenciais <code>P</code> e <code>¬Q</code> em cada ramo aberto que contém 
                    a sentença <code>¬ (P → Q)</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/condicional-neg.png" alt="condicional-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Bicondicional Negado:</span> será  representada na forma  “¬( &alpha; ↔ &beta; )”.  Desse modo, se um ramo aberto contém a sentença <code>¬(P ↔ Q)</code> ,  
                    bifurca-se cada ramo aberto que contém a sentença <code>¬(P ↔ Q)</code> , na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e <code>Q</code>  e no final do segundo ramo escreve-se <code>P</code> e <code>¬Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/bicondicional-neg.png" alt="bicondicional-neg"></div>
            
            </div>
        </div>
    </div> -->
      <div class="col-12 text-right mb-3">
          <div class="btn-group mx-2 mt-3 ">
              <button class="btn btn btn-func" (click)="concluir()">
                  Concluir
              </button>
          </div>
      </div>
  </div>
</div>

<ng-template #exercicioFinish>
  <!-- <div class="modal-header"> -->
  <!-- <h4 class="modal-title pull-left">Erro ao Derivar</h4> -->
  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body" style="text-align: center;">
      Este exercício já finalizado pelo jogador.
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      Sair
  </button>
</ng-template>