<div class="container-fluid py-2">
  <div class="row">
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Aplicação de regras não hipotéticas </h6>
            </div>
            <div class="card-body">
                <p>
                    Permite a eliminação de um condicional. Ao obter um elemento igual ao antecedente de um condicional, é possível inferir seu consequente. Conforme mostrado na Figura 2, a partir do condicional (P → Q), é utilizado seu antecedente ( P ) para inferir seu consequente ( Q ), através da premissa ( P ).
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/aplicacao-regra.png" alt="modus ponens">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12 text-center">
                        <table class="table-regras"  cellpadding="5" >
                            <tr>
                                <td><div class="regra-modusponens shadow-sm"><p>Após selecionar as linhas desejadas, para realizar uma derivação basta marcar a regra correspondente na área (Figura - B) que instancie as linhas selecionadas, conforme mostra a representação da regra de “Modus Ponens". Em seguida, é necessário clicar em “aplicar” para realizar a derivação. O resultado da instanciação gerada pela regra é apresentada na área de apresentação (Figura - A), podendo ser utilizada ao longo do processo de derivação.</p></div></td>
                            </tr>
                        </table>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Modus Ponens (MP) </h6>
            </div>
            <div class="card-body">
                <p>
                    Permite a eliminação de um condicional. Ao obter um elemento igual ao antecedente de um condicional, é possível inferir seu consequente. Conforme apresenta na Figura do exemplo, a partir do condicional (P → Q), é utilizado seu antecedente ( P ) para inferir seu consequente ( Q ), através da premissa ( P ).
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/modusponens.png" alt="modus ponens">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Eliminação de Negação (~E) </h6>
            </div>
            <div class="card-body">
                <p>
                    É aplicada a um predicativo que possui duas ou mais negações, conforme o exemplo. A devida regra objetiva anular dupla negação
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-negacao.png" alt="eliminacao negacao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras do Calculo Proposicional: Introdução de Conjunção (∧I) </h6>
            </div>
            <div class="card-body">
                <p>
                    Pode-se inferir conjunção de duas fórmulas válidas. Seja P e Q, é possível inferir a conjunção P ∧ Q, conforme apresenta o exemplo.
                </p>
                <p class="mt-3">Exemplo:</p>
                <div class="row">
                    <div class="col-12 text-center">
                            <img src="assets/image/eliminacao-negacao.png" alt="eliminacao negacao">
                    </div>
                </div>              
            </div>
        </div>
    </div>
<!-- 

    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras da Árvores de Refutação : Argumentos não negados</h6>
            </div>
            <div class="card-body">
                <p>
                    <span class="font-weight-bold">Conjunção:</span> será representada pelo caractere (∧). Desse modo se um ramo aberto 
                    contém a sentença <code>P∧Q</code>, gera dois nós sequenciais <code>P</code> e <code>Q</code> em cada ramo 
                    aberto que contém a sentença <code>P∧Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/conjuncao.png" alt="conjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Disjunção:</span> será representada pelo caractere (∨). Desse modo, se um ramo aberto contém a sentença 
                    <code>P∨Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P∨Q</code>, na qual no final do primeiro ramo 
                    escreve-se o <code>P</code> e no final do segundo ramo escreve-se <code>Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/disjuncao.png" alt="disjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Condicional:</span> será representada pelo caractere (→). Desse modo, se um ramo aberto contém a sentença 
                    <code>P→Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P→Q</code>, na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e no final do segundo ramo escreve-se <code>Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/condicional.png" alt="disjuncao"></div>
                <p class="mt-5">
                    <span class="font-weight-bold">Bicondicional:</span> será representada pelo caractere (↔). Desse modo, se um ramo aberto contém a 
                    sentença <code>P↔Q</code>, bifurca-se cada ramo aberto que contém a sentença <code>P↔Q</code>, na qual no final do 
                    primeiro ramo escreve-se o <code>P</code> e <code>Q</code> e no final do segundo ramo escreve-se <code>¬P</code> e <code>¬Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/bicondicional.png" alt="disjuncao"></div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header custom-card-header py-3">
                <h6 class="m-0 font-weight-bold ">Regras da Árvores de Refutação : Argumentos negados</h6>
            </div>
            <div class="card-body">
                <p class="mt-5">
                    <span class="font-weight-bold">Negação Negada:</span> será representada pelo caractere (¬). Um ramo aberto só pode ser fechado quando 
                    conter uma sentença e sua negação, ou seja, se a contradição da sentença de um nó folha for encontrada 
                    em seus nós ascendentes, diz-se que a refutação pode ser realizada e esse ramo é fechado, não podendo 
                    mais ser desmembrado
                </p>
                <div class="text-center my-3"><img src="assets/img/negacao-neg.png" alt="negacao-negada"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Conjunção Negada:</span> será  representada na forma “¬ ( &alpha; ∧ &beta; )”. Desse modo, se um ramo aberto contém a sentença <code>¬(P ∧ Q)</code>, 
                    bifurca-se cada ramo aberto que contém a sentença <code>¬(P ∧ Q)</code>, na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e no final do segundo ramo escreve-se <code>¬Q</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/conjuncao-neg.png" alt="conjuncao-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Disjunção Negada:</span> será  representada na forma “¬ ( &alpha; ∨ &beta; )”. Desse modo, se um ramo aberto contém a sentença <code>¬ (P ∨ Q)</code>, 
                    gera dois nós sequenciais <code>¬P</code> e <code>¬Q</code> em cada ramo aberto que contém a sentença
                        <code>¬ (P ∨ Q)</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/disjuncao-neg.png" alt="disjuncao-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Condicional Negado:</span> será  representada na forma “¬ ( &alpha; →  &beta; )”. Desse modo, se um ramo aberto contém a sentença 
                    <code>¬ (P → Q)</code>, gera dois nós sequenciais <code>P</code> e <code>¬Q</code> em cada ramo aberto que contém 
                    a sentença <code>¬ (P → Q)</code>.
                </p>
                <div class="text-center my-3"><img src="assets/img/condicional-neg.png" alt="condicional-neg"></div>

                <p class="mt-5">
                    <span class="font-weight-bold">Bicondicional Negado:</span> será  representada na forma  “¬( &alpha; ↔ &beta; )”.  Desse modo, se um ramo aberto contém a sentença <code>¬(P ↔ Q)</code> ,  
                    bifurca-se cada ramo aberto que contém a sentença <code>¬(P ↔ Q)</code> , na qual no final do primeiro 
                    ramo escreve-se o <code>¬P</code> e <code>Q</code>  e no final do segundo ramo escreve-se <code>P</code> e <code>¬Q</code>
                </p>
                <div class="text-center my-3"><img src="assets/img/bicondicional-neg.png" alt="bicondicional-neg"></div>
            
            </div>
        </div>
    </div> -->
      <div class="col-12 text-right mb-3">
          <div class="btn-group mx-2 mt-3 ">
              <button class="btn btn btn-func" (click)="concluir()">
                  Concluir
              </button>
          </div>
      </div>
  </div>
</div>

<ng-template #exercicioFinish>
  <!-- <div class="modal-header"> -->
  <!-- <h4 class="modal-title pull-left">Erro ao Derivar</h4> -->
  <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body" style="text-align: center;">
      Este exercício já finalizado pelo jogador.
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      Sair
  </button>
</ng-template>